<div class="row g-4">

  <div [ngClass]="isSidePanelVisible ? 'col-8' : 'col-12' ">
    <div class="card shadow-sm card-accent">
      <div class="card-header bg-white d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Product List</h5>
        <button class="btn btn-primary btn-sm" (click)="viewSidePanel()" >+ New Product</button>
      </div>

      <div class="card-body">
        <div class="row g-4">

  @for (product of products; track product.productId) {

    <div class="col-md-6 col-lg-4">
      <div class="card product-card h-100 shadow-sm">

        <img [src]="product.productImageUrl"
             class="card-img-top product-img"
             alt="product image">

        <div class="card-body d-flex flex-column">

          <h6 class="fw-bold mb-1">
            {{ product.productName }}
          </h6>

          <p class="text-success fw-semibold mb-3">
            ₹ {{ product.productPrice }}
          </p>

          <button class="btn btn-outline-green btn-sm mt-auto"
                  (click)="viewProduct(product)">
            View Details
          </button>

        </div>

      </div>
    </div>

  }

  @if (products.length === 0) {
    <div class="col-12 text-center text-muted">
      No products available.
    </div>
  }

</div>

      </div>
    </div>
  </div>

@if (isSidePanelVisible) {
<div class="col-lg-4">
  <div class="card shadow-sm card-accent h-100">
    
    <div class="card-header bg-white d-flex justify-content-between align-items-center">
      <h5 class="mb-0">New Product</h5>
      <button class="btn btn-sm btn-green-close" (click)="closeSidePanel()">×</button>
    </div>

    <div class="card-body">
      
<form [formGroup]="productForm" (ngSubmit)="onSave()">

  <!-- ROW 1 -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold">SKU</label>
      <input type="text" class="form-control form-accent"
             formControlName="productSku">
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold">Name</label>
      <input type="text" class="form-control form-accent"
             formControlName="productName">
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="row">
    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold">Short Name</label>
      <input type="text" class="form-control form-accent"
             formControlName="productShortName">
    </div>

    <div class="col-md-6 mb-3">
      <label class="form-label fw-semibold">Price</label>
      <input type="number" class="form-control form-accent"
             formControlName="productPrice">
    </div>
  </div>

<!-- CATEGORY -->
<div class="mb-3">
  <label class="form-label fw-semibold">Category</label>

  <select class="form-select form-accent" formControlName="categoryId">

    <option value="" disabled selected>Select Category</option>

    @for (cat of categories; track cat.categoryId) {
      <option [value]="cat.categoryId">
        {{ cat.categoryId }} {{ cat.categoryName }}
      </option>
    }

  </select>
</div>


  <!-- IMAGE URL -->
  <div class="mb-3">
    <label class="form-label fw-semibold">Image URL</label>
    <input type="text" class="form-control form-accent"
           formControlName="productImageUrl">
  </div>

  <!-- DESCRIPTION -->
  <div class="mb-4">
    <label class="form-label fw-semibold">Description</label>
    <textarea rows="4"
              class="form-control form-accent"
              formControlName="productDescription"
              placeholder="Write about the product...">
    </textarea>
  </div>

  <button type="submit" class="btn btn-green w-100">
    Save Product
  </button>

</form>

    </div>
  </div>
</div>
}

</div>
