body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

.navbar {
  height: 60px;
}

.nav-link {
  font-weight: 500;
}

.nav-link.active {
  border-bottom: 3px solid #0d6efd;
}

.green-navbar {
  background-color: var(--primary-green);
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.85);
  font-weight: 500;
}

.navbar .nav-link.active {
  border-bottom: 3px solid white;
  color: #fff;
}
.app-background {
  background-color: var(--light-green);
}
